html {
    scroll-behavior: smooth;
}

body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.95em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr; /* Mantiene un solo elemento por fila */
    gap: 10px;
}

img {
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
    object-fit: cover;
    height: 200px; /* Altura inicial para dispositivos móviles */
}

.label {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Vista de tableta */
@media (min-width: 772px) {
    img {
        height: 600px; /* Aumenta la altura a 600px para tabletas */
    }
}

/* Vista de escritorio */
@media (min-width: 992px) {
    img {
        height: 800px; /* Aumenta la altura a 800px para escritorio */
        border-radius: 0; /* Elimina el borde redondeado */
    }
}

/* Preferencias de movimiento reducido */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* Esquema de colores oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #ddd;
    }

    img {
        background-color: #222;
        border-color: #000;
    }

    figcaption {
        color: #ffa500;
    }
}
